<form action="/places" method="post">
  <label for="description">Add new places</label>
  <input id="description" name="description" type="text">
   <label for="Coutry">Country</label>
  <input id="country" name="Country" type="text">
   <label for="Activities">activties to do</label>
  <input id="Activities" name="Activities" type="text">
  <button type="submit">Submit</button>
</form>